* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
  }

  /* #4B3B40 Old Burgundy, rgba(75, 59, 64, 1)
  #82735C Shadow, rgba(130, 115, 92, 1)
  #9DB17C Olivine, rgba(157, 177, 124, 1)
  #9CDE9F Granny Smith Apple, rgba(156, 222, 159, 1) */
 